.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.image {
  flex: 0.3;
  margin-right: 10px;
}

.content {
  flex: 0.7;
  background-color: white;
}

.imageFirst {
  flex-direction: row;
}

.contentFirst {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .image {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .content {
    margin-top: -5px;
    height: auto;
  }
}
