.shopContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.rowButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
  padding-top: 25px;
}

.shopInfo {
  display: flex;
  flex: 0 0 45%;
  flex-direction: column;
  gap: 10px;
}

.shopInfo p {
  margin: 0;
}

.image {
  flex: 1;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.map {
  width: 100%;
  width: calc(100% + 40px);
  border: 0;
  margin-left: -20px;
  margin-right: -20px;
}

.map > iframe:last-child {
  margin-bottom: -4px;
}

.callButton,
.navButton {
  padding: 10px 15px;
  border: none;
  background-color: #9c9c9c;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.callButton:hover,
.navButton:hover {
  background-color: #858585;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .rowButton {
    flex-direction: column;
  }

  .callButton,
  .navButton {
    width: 200px;
  }

  .rowButton > a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Adds space below each button */
  }

  .image {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .shopContainer {
    flex-direction: column;
  }

  .image img {
    border-radius: 0px;
  }

  .rowButton {
    justify-content: space-evenly;
  }

  .rowButton > a {
    margin-bottom: 10px; /* Adds space below each button */
  }

  .shopInfo {
    text-align: center;
  }

  .row {
    flex-direction: column;
  }

  .callButton,
  .navButton {
    width: auto;
  }

  .leftText {
    text-align: left;
    padding-left: 20px;
  }
}
